.gradient{
    display: flex;
    width: 100%;
    background: linear-gradient(122deg, #DFFF1B 0%, #4CAF50 100%);
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

.logo{
    width: 60px;
}
