:root {
  max-width: 1440px;
  font-family: "Poppins", sans-serif;
}

.profile-container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.left-profile {
  background: #f4f4f4;
  padding: 20px;
}

.left-container {
  display: flex;
  align-items: center;
}

.shop-details h3,
.shop-details p {
  margin: 0;
  padding: 0;
}

.online {
  width: 10px;
  height: 10px;
  background-color: #4caf50;
  border-radius: 100%;
  margin-right: 5px;
}

.status {
  display: flex;
  align-items: center;
}

.shop-image img {
  width: 100px;
  border: 1px solid;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin: 0 20px;
}

.profile-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.profile-button a {
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.mid-profile,
.right-profile {
  width: 200px;
  margin: 0 50px;
}

.followers,
.following {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.mid-right {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.desc {
  display: none;
}

.info {
  display: block;
}

.img-ads img{
  width: 100%;
  max-width: 1440px;
}

.navbar-shop ul {
  cursor: pointer;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-shop ul li {
  height: 50px;
  list-style: none;
  line-height: 50px;
  width: 100%;
  text-align: center;
}

.shop-ads img {
  width: 100%;
}
.img-ads{
  margin-bottom: 20px;
}

.navbar-shop ul li:hover {
  background: rgb(48, 75, 48);
  color: white;
}

.container-adsShop{
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.wrapperAdShop{
  width: 20%;
  margin: 10px;
  padding: 10px;
}
.wrapperAdShop .title{
  color: #4caf50;
  font-size: 100%;
  margin: 0;
  padding: 0;
  margin-top: 5%;
}
.wrapperAdShop h2{
  font-size: 90%;
  margin: 0;
  padding: 0;
}
.wrapperAdShop .footer{
  font-size: 90%;
  margin: 0;
  padding: 0;
  color: gray;
}
.wrapperAdShop img{
  width: 100%;
}

@media screen and (max-width: 768px) {
  .last-item {
    display: none;
  }

  .profile-container {
    display: block;
    justify-content: center;
    align-items: center;
    line-height: 20px;
  }
}
