:root {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

main {
  color: #000;
  margin: 20px;
}

#jenis {
  width: 100%;
  max-width: 22em;
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
}

img {
  width: 100%;
}

.container-item a {
  color: #000;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.container-item table tr {
  max-width: 100%;
}

.itemPlant {
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 12px black;
}

.desc {
  border-top: 1px solid #000;
}

/* Untuk layar besar (tablet) */
@media screen and (max-width: 1520px) {
  a {
    grid-template-columns: repeat(6, 1fr);
  }
}


/* Untuk layar sedang (tablet) */
@media screen and (max-width: 1024px) {
  a {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Untuk layar kecil (ponsel) */
@media screen and (max-width: 768px) {
  a {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Untuk layar sangat kecil */
@media screen and (max-width: 480px) {
  a {
    grid-template-columns: repeat(2, 1fr);
  }
}


