* {
    font-family: "Poppins", sans-serif;
    --green : #29481E;
    --linear: linear-gradient(to right, #a8e063, #56ab2f);
    --greenlight : #a8e063;
}

ol {
    padding: 0;
}

.disc li {
    list-style-type: disc;
}