* {
  max-width: 1440px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela", sans-serif;
}

:root{
  overflow-x: hidden;
}

main {
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  background: url(../assets/image/content/register.jpg);
  background-size: cover;
}

.card {
  width: 550px;
  background: rgba(255, 255, 255, 0.68);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 30px 40px;
}

.card h1 {
  font-size: 36px;
  text-align: center;
  color: black;
}

.card .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: #000000;
  font-size: 16px;
  padding: 20px 20px 20px 20px;
}

.input-box input::placeholder {
  color: #000000;
}

.card .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}

form img {
  width: 20%;
  display: block;
  margin: 0 auto;
}

form {
  text-align: center;
}

.remember-forgot label input {
  accent-color: #000000;
  margin-right: 3px;
}

.remember-forgot a {
  color: #000000;
  text-decoration: none;
}

.remember-forgot a:hover,
.register a:hover {
  text-decoration: underline;
}

.card button {
  width: 100%;
  height: 45px;
  background: #29481e;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

button a {
  color: white;
  text-decoration: none;
}

.register {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.register a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

header {
  align-items: center;
  text-align: center;
  padding: 100px;
  margin-left: 0;
}

.right-logo {
  margin-top: 20%;
  margin-left: 20%;
}

.right-logo img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.right-logo p {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .right-logo {
    display: none;
  }
}
